
<div class="row>
<aside class="spand4">
<section>
<h1>
  <%= gravatar_image_tag @host.email , :class => "gravatar" %>
  <%= @host.first_name %> <%= @host.last_name %>
</h1>
</section>
</aside>
</div>