<!DOCTYPE html>
<html>
<head>
<title><%= @title%></title>

<link href="/stylesheets/generic.css" media="generic" rel="stylesheet" type="text/css" />
</head>
<body>
  <h1>Help</h1>
  
	<p> If you need any help or you have questions please contact us at nabehih@gmail.com
	
	</p>
	
</body>
</html>








